# Axel Herman
Axel Herman Rørholt Lous <ahlous@stud.ntnu.no> Axel Herman Rørholt Lous <ahlous@stud.ntnu.no>
Axel Herman Rørholt Lous <ahlous@stud.ntnu.no> Hermanlous <hermanrorholtlous@gmail.com>
Axel Herman Rørholt Lous <ahlous@stud.ntnu.no> Axel Herman Rørholt Lous <axel.h.r.lous@ntnu.no>

# August
August Solli Middelkoop <augustm@stud.ntnu.no> August Solli Middelkoop <augustm@stud.ntnu.no>
August Solli Middelkoop <augustm@stud.ntnu.no> August Solli Middelkoop <august.kampen@gmail.com>

# Johannes
Johannes Hansen Aas <johhaa@stud.ntnu.no> Johannes Hansen Aas <johhaa@stud.ntnu.no>
Johannes Hansen Aas <johhaa@stud.ntnu.no> johannes-aas <johhaa@stud.ntnu.no>

#Oline
Oline Koolen Bjerketvedt <olinekb@stud.ntnu.no> Oline Koolen Bjerketvedt <olinekb@stud.ntnu.no>
Oline Koolen Bjerketvedt <olinekb@stud.ntnu.no> Oline Koolen Bjerketvedt <olinekb@ntnu.no>


